*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;

}

body{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background: #333;
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content: center;
    overflow:hidden;
}
section#cards-container{
    width: 85%;
    height:100vh;
    background:ghostWhite;
    opacity:.75;
    display:flex;
    justify-content: center;
    align-items:end;
    gap:1rem;
}
div.cards-div{
    height:75%;
    width: 400px;
    border:4px solid #fff;
}
.card-ul{
    border:3px solid cyan;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content:space-evenly;
    position:Relative;
}
.card-foreground{
    border:3px solid indigo;
    width: 50%;
    height: 50px;
    display:flex;
    flex-direction:column;
    align-items:Center;
    transition:.5s;
}
.card-background{
    width:100%;
    border: 2px solid yellow;
    height:inherit;
    background:#333;
    transition:.5s;
}
.card-hidden{
    transform:translate(0,2000px);
    transition:.75s ease-in;
}
.card-appear{
    transform:translate(0,-100px);
    transition:.5s;
    
}
.card-left{
    transform:translate(-50px,0)
}
.card-right{
    transform:translate(50px,0)
}
.card-origin-left{
    transform:translate(0px,0)
}
.card-origin-right{
    transform:translate(0px,0)
}

