*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;

}

body{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background: firebrick;
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content: center;
    overflow:hidden;
}
section#cards-container{
    width: 85%;
    height:100vh;
    background:#333;
    opacity:.75;
    display:flex;
    justify-content: center;
    align-items:end;
    gap:1rem;
}
div.cards-div{
    height:75%;
    width: 400px;
    border:4px solid #fff;
}
.card-hidden{
    transform:translate(0,2000px);
    transition:.75s ease-in;
}
.card-appear{
    transform:translate(0,-100px);
    transition:.5s;

}



