@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;

}
#header{
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    flex-direction:column;
    gap:1rem;
    margin: 2rem 0 1rem 0;
    
}
#disclaimer{
    text-transform: uppercase;
    z-index:999;
    width:25%;
    transition:.5s;
}
#disclaimer:hover{
    transition:.5s;
    border:2px solid red;
    cursor:pointer;
}
.d-hide{
transform:(scale(1))
}
.d-appear{
    transform:scale(1.5);
    margin-bottom:1rem;
}
.header-disclaimer{
    z-index: 995;
    font-size:1rem;
}

.zoom-in{
    transform:scale(0);
    transition:.25s;
}
.zoom-out{
    transform:scale(1);
    transition:.75s;
}
#nowhere{
    color:#f00;
    text-transform:uppercase;
}
body{
    font-family: 'Rubik Doodle Shadow';
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background: #333;
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content: center;
    overflow:hidden;
}
section#cards-container{
    width: 85%;
    height:100vh;
    background:silver;
    opacity:.75;
    display:flex;
    justify-content: center;
    align-items:end;
    gap:1rem;
}
div.cards-div{
    height:75%;
    width: 400px;
}
.card-ul{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content:space-evenly;
    position:relative;
    gap:.75rem;
}
.card-foreground{
    border:3px solid #fff;
    width: 75%;
    height: 75px;
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content: center;
    transition:.75s;
    background:#333;
    z-index:999;
}
.card-foreground:hover{
    box-shadow:0 4px 3px rgba(0, 0, 0, .25);
}
.card-background{
    width:100%;
    height:inherit;
    z-index:995;
    transition:.5s;
    text-align:center;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color:#fff;
    opacity:0;
}
.card-hidden{
    transform:translate(0,2000px);
    transition:.75s ease-in;
}
.card-appear{
    transform:translate(0,-100px);
    transition:.5s;
    
}
.card-left{
    transform:translate(-200px,0)
}
.card-right{
    transform:translate(200px,0)
}
.card-origin-left{
    transform:translate(0px,0)
}
.card-origin-right{
    transform:translate(0px,0)
}

